
INSERT INTO `terminal_equipment_info` VALUES ('1', '接口机-NOC', '10', 'NOC', null, null, '{{ inventory_hostname }}', '1', '0', null, now(), 'sys', now(), 'sys');
INSERT INTO `terminal_equipment_info` VALUES ('2', '售票系统-鼎浩', '9', '鼎浩', null, null, '{{ ticketingSystemIP }}', '1', '0', null, now(), 'sys', now(), 'sys');
INSERT INTO `terminal_equipment_info` VALUES ('3', 'TMS-AAM', '11', 'AAM', null, '2.6', '{{ tmsIP }}', '1', '0', null, now(), 'sys', now(), 'sys');
